.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.home-header .logo-header {
  height: 1rem;
  background-color: #2A2A2A;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-header .logo-header img {
  width: 2rem;
  margin-left: 2rem;
}
.home-header .logo-header i {
  font-size: 0.6rem;
  margin-right: 0.8rem;
}
.home-header .category {
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0;
  padding: 0.1rem 0.5rem;
  background-color: #2A2A2A;
}
.home-header .category li {
  line-height: 0.6rem;
  text-align: center;
  color: #fff;
  font-size: 0.3rem;
  border-top: 0.02rem solid #5d5d5d;
}
.home-header .category li.active {
  color: pink;
}
