.nav-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 1rem;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 1rem;
  background-color: #2a2a2a;
  color: #fff;
}
.nav-header i {
  position: absolute;
  left: 0.2rem;
  height: 100%;
  line-height: 1rem;
}
